/Assets/Pong/*.meta
/Library/ShaderCache/f/*.bin
/Assets/Pong/Sprites/*.meta
/Library/ShaderCache/3/*.bin
/Library/ShaderCache/4/*.bin
/Library/ShaderCache/5/*.bin
/Library/ShaderCache/6/*.bin
/Library/ShaderCache/7/*.bin
/Library/ShaderCache/8/*.bin
/Library/ShaderCache/9/*.bin
/Library/ShaderCache/a/*.bin
/Library/ShaderCache/b/*.bin
/Library/ShaderCache/c/*.bin
/Library/ShaderCache/d/*.bin
/Library/ShaderCache/e/*.bin
/Library/ShaderCache/2/*.bin
/Assets/Sounds/*.meta
/Assets/Space Shooter Template FREE/Sprites/VFX/Enemy Hit Effect/*.meta
/ProjectSettings/*.asset
/ProjectSettings/*.meta
/Library/ShaderCache/1/*.bin
/Assets/Scripts/*.meta
/Assets/Materials/*.meta
/Library/il2cpp_cache/libil2cpp/*.o
/Library/metadata/1a/*.info
/Library/ShaderCache/0/*.bin
/Library
/Assets/Space Shooter Template FREE/Sprites/VFX/Explosions/*.meta
/Assets/Sprites/Planets/*.meta
/Assets/Sprites/*.meta
/obj
/Assets/Space Shooter Template FREE/Sprites/VFX/Engines/*.meta
/Assets/Space Shooter Template FREE/Sprites/Power Ups/*.meta
/Assets/Space Shooter Template FREE/Sprites/VFX/*.meta
/Assets/*.meta
